<!doctype html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JupiterManger</title>
</head>
<body>
<div id="contents">
  <%= render 'Templates/base' %>
  <div id="inner-contents">
    <div class="per-title">
      # Staff Master
      <a href="/">>HOME</a>
    </div>
    <!--    スタッフマスタビューモード -->
    <div id="staff-box">
      <div id="staff-head">
        <div class="staff-td">ID</div>
        <div class="staff-td">スタッフ名</div>
        <div class="staff-td">部署</div>
        <div class="staff-td">課</div>
        <div class="staff-td">チーム</div>
      </div>
      <div id="staff-head">
        <div class="staff-td">1</div>
        <div class="staff-td">マサラタウンサトシ</div>
        <div class="staff-td">マサラタウン</div>
        <div class="staff-td">オーキド課</div>
        <div class="staff-td">ポケモン図鑑チーム</div>
      </div>
    </div>
    <!--    スタッフマスタビューモード -->
  </div>
</div>
</body>
</html>