// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  margin: 0;
  padding: 0;
}
#contents {
  width: 100%;

  #inner-contents {
    width: 1200px;
    margin: 10px auto;
  }

  header {
    width: 100%;
    padding: 15px 0px;
    background: #2E2F30;
    color: #ffffff;
    #inner-head {
      margin: 0px auto;
      width: 1200px;
      font-weight: bold;
    }
  }
}

.role-section {
  display: flex;
  .role {
    a {
      width: 200px;
      height: 45px;
      margin-top: 10px;
      margin-left: 20px;
      background: #2E2F30;
      color: #ffffff;
      display: block;
      text-decoration: none;
      text-align: center;
      line-height: 45px;
      cursor: pointer;
    }
  }
}

.flex-box {
  display: flex;
}

.per-title {
  font-size: 20px;
  color: #2E2F30;
  font-weight: bold;
}